<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main class="w-full h-screen bg-zinc-950 pt-10 pl-14">
        <a href="/" class="no-underline text-blue-500"><< Back to Home Page</a>

        <h1 class="text-white text-5xl mt-10 font-bold"> <%=filename%> </h1>
        <p class="text-white text-xl mt-10"> <%=filedata%> </p>
    </main>
</body>
</html>